
.nav-item {
    position: relative;
}

.nav-link {
    display: inline-block;
    position: relative;
    padding-bottom: 4px; 
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #32a852; 
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dark .nav-link:hover {
    color: #32a852; 
}
